





   /* my header */

   .bg-steel{
    background: rgb(255, 211, 15)
}
.nav-item{
    padding: 14px;
    font-weight: bold;
    font-size: 17px;
    font-style: oblique;
}

/***********************************/


/*=============Body=================*/
.search{
    position: absolute;
    width: 50%;
    left: 50%;
    top:-70% ;
    transform: translate(-50%,-50%);
    height: 80px;
    padding-top: 20px;
    transition: 0.5s;
  
  }
  
  .search:hover {
    width:80% ;
    transition: 0.5s;
  }
  
  
  
  
  
  .search-box { 
  position: absolute;
  background: #960707;
  width:95%;
  border-radius: 30px;
  height:40px;
  top:50%
  
  }
  
  
  
  
  .search-btn {
    position: absolute;
    top: 0%;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    left: 100%;
    background:#7e1b1b;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer; 
    transition: 0.5s;
  }
  
  
  search-btn:hover {
    color: #e9b3b3;
    background: #fffbfb;
    background-color: aliceblue;
  }
  
  
  
  
  
  .search-btn > i {
    font-size: 30px;
  
  }
  
  .search-text {
    
    border: none;   /* my header */
    background:none;
    outline: none;
    line-height:40px ;
    width: 98%;
    color: #ece6e6;
    padding-left:20px ;
    font-size: 16px;
    font-weight: bold;
    float: left;
    transition: 0.5s;
  }

/******************Body*****************/
  
/*===============Footer======================*/

.social a{
    font-size: 4.5rem;
    padding: 1rem;
}

.fa-facebook{
    color: rgb(74, 74, 241);
}

.fa-youtube{
    color: rgb(241, 30, 30)
}

.fa-instagram{
    color:#517fa4;
  }
  

.fa-twitter{
    color: rgb(120, 205, 238);
}

.fa-google-plus-g{
    color:#dd4b39;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #222;
}

.padding{
    padding-top: 2rem;
}

.pd5{  
    padding-right: 12px; 
}

footer{
    background-color: rgb(58, 57, 57);
    color: rgb(223, 221, 221);  
}




  hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .4rem;
    margin-bottom: .7rem;
  }

/**************************Footer*********************************/


/*---------------login form----------------------*/

.forms{
  width: 80%;
  padding: 20px 0 0 100px;

}

.btn{
  margin: 10px 0 0 100px;
}

.checkbox{
  padding: 10px 0 0 120px;

}




@media only screen and (max-width:400px){
  .pantry-text{
    font-size: 15px;
    
  }


  .welcome{
    font-size: 25px;
    font-weight: bold;
  }
  
  .pantry{
    margin: 0 0 0 -80px;
  }
  
}